@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
}
.profile-card{
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.profile-card::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsl(240, 95%, 66%);
    z-index: 0;
}
img{
    position: relative;
    height: 150px;
    width: 150px;
    border: 3px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-data .name{
    font-size: 20px;
    font-weight: bold;
}
.text-data .study{
    font-size: 15px;
    color: rgb(73, 73, 73);
}
.mediabuttons {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.mediabuttons .links{
  text-decoration: none;
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.mediabuttons .links.facebook {
    background-color: #3b5998;
}
.mediabuttons .links.whatsapp {
    background-color: #25D366;
}
.mediabuttons .links.twitter {
    background-color: #1DA1F2;
}
.mediabuttons .links.github {
    background-color: #000;
}
